.hero {
  display: flex;
  font-weight: bold;
  font-size: 2.25rem;
  justify-content: center;
  color: var(--orange);
}

.hero__span {
  color: var(--blue);
  font-style: italic;
}

.hero__top {
  max-width: 300px;
  text-align: center;
}
