.nav {
  width: 100%;
}

.nav__container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  max-width: 800px;
  margin: 0 auto;
}

/* .nav__link--logo {

} */

.nav__home {
  display: none;
  height: 43px;
}

@media only screen and (min-width: 350px) {
  .nav__home {
    display: block;
  }

  /* .nav__container {
    justify-content: flex-start;
  } */
}

@media only screen and (min-width: 425px) {
  .nav__link--logo {
    width: 147px;
    height: 19px;
  }
}

.nav__buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
