.beer__card__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  gap: 20px;
  width: 440px;
  border-radius: 8px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
}

.beer__title {
  text-align: center;
  margin: 0;
}

.beer__basic__info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

.social__proof {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  font-size: 16px;
  justify-content: space-between;
  max-width: 200px;
}

.rating {
  display: flex;
  gap: 5px;
  align-items: center;
}

.rating__score {
  font-weight: bold;
}

.rating__star {
  display: block;
  height: 1rem;
  margin-bottom: 5px;
}

.review__author {
  color: #1e6a9c;
  font-weight: 700;
  margin: 10px 0;
  text-align: right;
}

.attribute {
  font-weight: bold;
}
