.beer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
  margin: 0 5px;
  border: var(--border-shadow);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  max-width: 420px;
}

.beer__title {
  margin: 0;
  max-height: 64px;
  overflow: hidden;
  text-align: center;
}

.beer__image {
  object-fit: cover;
  object-position: 50% 50%;
  max-width: 200px;
}

.info__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.info__container a:last-of-type {
  align-self: center;
}

.beer__basic__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.social__proof {
  display: flex;
  justify-content: space-between;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rating__score {
  font-weight: bold;
  display: block;
}

.rating__star {
  display: block;
  margin-bottom: 3px;
}

.review__author {
  color: var(--blue);
  font-weight: 700;
  margin: 10px 0;
  text-align: right;
}

.reviews__info:link,
.reviews__info:visited {
  color: var(--blue);
  transition: 0.5s;
}

.reviews__info:hover,
.reviews__info:active {
  color: var(--orange);
}

.attribute {
  font-weight: bold;
}

@media only screen and (min-width: 425px) {
  .beer {
    flex-direction: row;
    align-items: flex-start;
    margin: 0 5px;
    width: 420px;
  }

  .beer__image {
    width: 100%;
  }
}
