.beer__listing__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 50px 5px;
  max-width: 500px;
  align-self: center;
  padding: 25px;
}

.attribute {
  font-weight: bold;
}

.bCard_bInfo {
  border: 1px solid red;
  }

  @media only screen and (min-width: 425px) {
    .bCard_bInfo{
      display:flex;
      flex-direction: row;
    }
  }

