/***************************
Resets
***************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

input,
select,
button {
  font-family: inherit;
  font-size: 1rem;
  border: 1px solid;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

body {
  margin: 0;
}

/***************************
Global Styles
***************************/

body {
  font-family: "Poppins", sans-serif;
  color: #474747;
  background-color: #ffffff;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  
}

.navbar .links {
  margin-left: auto;
  
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
}

/* .navbar a:hover{  nice to have - signin/login turn orange hovered over
  color: #F26323
} */


